<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<h3>
    <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}" />
</h3>
<p>
    <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_reset_message'}" />
</p>
<f:render partial="ValidationErrors" />
<f:form action="recovery" method="post">
    <fieldset>
        <p class="form-floating">
            <f:form.textfield name="userIdentifier" id="tx-felogin-input-data" placeholder="{f:translate(key: 'enter_your_data')}" class="form-control" />
            <label for="tx-felogin-input-data"><f:translate key="enter_your_data" /></label>
        </p>
        <p>
            <f:form.submit value="{f:translate(key: 'reset_password')}" class="btn btn-primary" />
            <f:link.action action="login" controller="Login" class="float-end btn btn-light btn-sm mt-1">
                <f:translate key="forgot_header_backToLogin" />
            </f:link.action>
        </p>
    </fieldset>
</f:form>

</html>
