<f:switch expression="{home.tx_das_structureddata}">
    <f:case value="microdata">
        <f:variable name="olAttributes" value="itemscope itemtype=\"http://schema.org/breadcrumbList\"" />
        <f:variable name="liAttributes" value="itemprop=\"itemListElement\" itemscope itemtype=\"http://schema.org/ListItem\"" />
        <f:variable name="aAttributes" value="{itemprop: 'item'}" />
        <f:variable name="spanAttributes" value=" itemprop=\"name\"" />
    </f:case>
    <f:case value="rdfa">
        <f:variable name="olAttributes" value="vocab=\"http://schema.org/\" typeof=\"breadcrumbList\"" />
        <f:variable name="liAttributes" value="property=\"itemListElement\" typeof=\"ListItem\"" />
        <f:variable name="aAttributes" value="{property: 'item', typeof: 'WebPage'}" />
        <f:variable name="spanAttributes" value=" property=\"name\"" />
    </f:case>
    <f:defaultCase>
        <f:variable name="olAttributes" value="" />
        <f:variable name="liAttributes" value="" />
        <f:variable name="aAttributes" value="{}" />
        <f:variable name="spanAttributes" value="" />
    </f:defaultCase>
</f:switch>
<f:variable name="menu" value="{v:page.rootline() -> v:iterator.reverse()}" />
<nav class="container" aria-label="breadcrumb"{f:if(condition: '{home.tx_das_breadcrumbseparator}', then: ' style="--bs-breadcrumb-divider: \'{home.tx_das_breadcrumbseparator}\';"')}>
    <ol class="breadcrumb pt-2" {olAttributes -> f:format.raw()}>
        <f:for each="{menu}" as="page" iteration="iteration">
            <li class="breadcrumb-item {f:if(condition: iteration.isLast, then: 'active')}"{f:if(condition: iteration.isLast, then: ' aria-current="page"')} {liAttributes -> f:format.raw()}>
                <f:if condition="{iteration.isLast}">
                    <f:then>
                        <span{spanAttributes -> f:format.raw()}>{page.title}</span>
                    </f:then>
                    <f:else>
                        <f:link.typolink parameter="{page.uid}" absolute="1" additionalAttributes="{aAttributes}" class="link-underline link-underline-opacity-0">
                            <span{spanAttributes -> f:format.raw()}>{page.title}</span>
                        </f:link.typolink>
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ol>
</nav>
