<span data-toggle="tooltip" data-placement="top" data-title="id=34">
    <span class="t3js-icon icon icon-size-small icon-state-default icon-apps-pagetree-page-default" data-identifier="apps-pagetree-page-default" aria-hidden="true">
        <span class="icon-markup">
            <svg class="icon-color">
                <use xlink:href="{f:uri.image(src:'EXT:core/Resources/Public/Icons/T3Icons/sprites/apps.svg')}#apps-pagetree-page-default"></use>
            </svg>
        </span> 
    </span>
</span>
