<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form
        id="BeforeAfterImage"
        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.beforeafterimage"
        description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.beforeafterimage.description"
    >
        <flux:form.option.group
            value="dasContent"
        />
        <flux:form.option.icon
            value="EXT:das/Resources/Public/Icons/Content/BeforeAfterImage.png"
        />
        <flux:field.select
            name="layout"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default', 1: '0'}
            }"
            requestUpdate="1"
        />
        <flux:field.inline.fal
            name="images"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.beforeafterimage.images"
            description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.beforeafterimage.images.description"
            minItems="2"
            maxItems="2"
            allowedExtensions="jpg,jpeg,png,gif,webp"
        />
    </flux:form>
</f:section>

<f:section name="Preview">
    <table class="table table-condensed table-hover">
        <tbody>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout" />
                </th>
                <td width="20%">
                    <f:if condition="{layout} == 0">
                        <f:then>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default" />
                        </f:then>
                        <f:else>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:custom" />
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.beforeafterimage.images" />
                </th>
                <td>
                    <div style="position: relative; width: 100px; overflow: hidden;">
                        <v:page.resources.fal table="tt_content" field="images" as="images" record="{record}">
                            <img src="{f:uri.image(src: '{images.1.id}', width: 100, treatIdAsReference: 1)}" width="100" alt="" />
                            <div style="position: absolute; top: 0; left: 0; width: 50px; overflow: hidden;">
                                <img src="{f:uri.image(src: '{images.0.id}', width: 100, treatIdAsReference: 1)}" width="100" alt="" style="max-width: 100px !important;" />
                            </div>
                        </v:page.resources.fal>
                    </div>
                </td>
            </tr>
        </tbody>        
    </table>
</f:section>

<f:section name="Main">
    <f:render partial="Content/Main/BeforeAfterImage" arguments="{_all}" />
</f:section>
