<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form
        id="Carousel"
        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel"
        description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.description"
    >
        <flux:form.option.group
            value="dasContent"
        />
        <flux:form.option.icon
            value="EXT:das/Resources/Public/Icons/Content/Carousel.png"
        />
        <flux:field.select
            name="layout"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default', 1: '0'}
            }"
            requestUpdate="1"
        />
        <flux:field.select
            name="transition"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.transition"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.transition.0', 1: '0'},
                1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.transition.1', 1: '1'}
            }"
            default=""
            showIconTable="1"
        />
        <flux:field.checkbox
            name="pagination"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.pagination"
            config="{renderType: 'checkboxToggle'}"
        />
        <flux:field.checkbox
            name="navigation"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.navigation"
            config="{renderType: 'checkboxToggle'}"
        />
        <flux:field.checkbox
            name="autoplay"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.autoplay"
            config="{renderType: 'checkboxToggle'}"
            default="1"
            requestUpdate="1"
        />
        <flux:field.input
            name="interval"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.interval"
            size="3"
            config="{eval: 'int', range: {lower: 1, upper: 10}, slider: {step: 1, width: 200}}"
            displayCond="FIELD:options.autoplay:=:1"
        />
        <flux:grid>
            <flux:grid.row>
                <flux:grid.column
                    colPos="91"
                    name="ce1"
                    label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:content"
                />
            </flux:grid.row>
        </flux:grid>
    </flux:form>
</f:section>

<f:section name="Preview">
    <table class="table table-condensed table-hover">
        <tbody>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout" />
                </th>
                <td width="20%">
                    <f:if condition="{layout} == 0">
                        <f:then>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default" />
                        </f:then>
                        <f:else>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:custom" />
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.transition" />
                </th>
                <td>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.transition.{transition}" />
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.pagination" />
                </th>
                <td>
                    <f:render partial="Content/Check" arguments="{condition: pagination}" />
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.navigation" />
                </th>
                <td>
                    <f:render partial="Content/Check" arguments="{condition: navigation}" />
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.autoplay" />
                </th>
                <td>
                    <f:render partial="Content/Check" arguments="{condition: autoplay}" />
                </td>
            </tr>
            <tr>
            <f:if condition="{autoplay}">
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.carousel.interval" />
                    </th>
                    <td>
                        {interval}
                    </td>
                </tr>
            </f:if>
        </tbody>
    </table>
</f:section>

<f:section name="Main">
    <f:render partial="Content/Main/Carousel" arguments="{_all}" />
</f:section>
