<f:layout name="Content" />

<f:section name="Configuration">
    <f:variable
        name="optionsxs"
        value="{
            0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:notset', 1: 'col'},
            1:{0: '8.3%', 1: 'col-1'},
            2:{0: '16.7%', 1: 'col-2'},
            3:{0: '25%', 1: 'col-3'},
            4:{0: '33%', 1: 'col-4'},
            5:{0: '41.7%', 1: 'col-5'},
            6:{0: '50%', 1: 'col-6'},
            7:{0: '58.3%', 1: 'col-7'},
            8:{0: '66.6%', 1: 'col-8'},
            9:{0: '75%', 1: 'col-9'},
            10:{0: '83.3%', 1: 'col-10'},
            11:{0: '91.6%', 1: 'col-11'},
            12:{0: '100%', 1: 'col-12'},
            13:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:hidden', 1: 'd-none d-sm-block'},
            14:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:visible', 1: 'd-block'}
        }"
    />
    <f:variable
        name="optionssm"
        value="{
            0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:notset', 1: 'col-sm'},
            1:{0: '8.3%', 1: 'col-sm-1'},
            2:{0: '16.7%', 1: 'col-sm-2'},
            3:{0: '25%', 1: 'col-sm-3'},
            4:{0: '33%', 1: 'col-sm-4'},
            5:{0: '41.7%', 1: 'col-sm-5'},
            6:{0: '50%', 1: 'col-sm-6'},
            7:{0: '58.3%', 1: 'col-sm-7'},
            8:{0: '66.6%', 1: 'col-sm-8'},
            9:{0: '75%', 1: 'col-sm-9'},
            10:{0: '83.3%', 1: 'col-sm-10'},
            11:{0: '91.6%', 1: 'col-sm-11'},
            12:{0: '100%', 1: 'col-12'},
            13:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:hidden', 1: 'd-none d-sm-block'},
            14:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:visible', 1: 'd-block'}
        }"
    />
    <f:variable
        name="optionsmd"
        value="{
            0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:notset', 1: 'col-md'},
            1:{0: '8.3%', 1: 'col-md-1'},
            2:{0: '16.7%', 1: 'col-md-2'},
            3:{0: '25%', 1: 'col-md-3'},
            4:{0: '33%', 1: 'col-md-4'},
            5:{0: '41.7%', 1: 'col-md-5'},
            6:{0: '50%', 1: 'col-md-6'},
            7:{0: '58.3%', 1: 'col-md-7'},
            8:{0: '66.6%', 1: 'col-md-8'},
            9:{0: '75%', 1: 'col-md-9'},
            10:{0: '83.3%', 1: 'col-md-10'},
            11:{0: '91.6%', 1: 'col-md-11'},
            12:{0: '100%', 1: 'col-12'},
            13:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:hidden', 1: 'd-none d-sm-block'},
            14:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:visible', 1: 'd-block'}
        }"
    />
    <f:variable
        name="optionslg"
        value="{
            0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:notset', 1: 'col-lg'},
            1:{0: '8.3%', 1: 'col-lg-1'},
            2:{0: '16.7%', 1: 'col-lg-2'},
            3:{0: '25%', 1: 'col-lg-3'},
            4:{0: '33%', 1: 'col-lg-4'},
            5:{0: '41.7%', 1: 'col-lg-5'},
            6:{0: '50%', 1: 'col-lg-6'},
            7:{0: '58.3%', 1: 'col-lg-7'},
            8:{0: '66.6%', 1: 'col-lg-8'},
            9:{0: '75%', 1: 'col-lg-9'},
            10:{0: '83.3%', 1: 'col-lg-10'},
            11:{0: '91.6%', 1: 'col-lg-11'},
            12:{0: '100%', 1: 'col-12'},
            13:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:hidden', 1: 'd-none d-sm-block'},
            14:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:visible', 1: 'd-block'}
        }"
    />
    <f:variable
        name="optionsxl"
        value="{
            0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:notset', 1: 'col-xl'},
            1:{0: '8.3%', 1: 'col-xl-1'},
            2:{0: '16.7%', 1: 'col-xl-2'},
            3:{0: '25%', 1: 'col-xl-3'},
            4:{0: '33%', 1: 'col-xl-4'},
            5:{0: '41.7%', 1: 'col-xl-5'},
            6:{0: '50%', 1: 'col-xl-6'},
            7:{0: '58.3%', 1: 'col-xl-7'},
            8:{0: '66.6%', 1: 'col-xl-8'},
            9:{0: '75%', 1: 'col-lg-9'},
            10:{0: '83.3%', 1: 'col-xl-10'},
            11:{0: '91.6%', 1: 'col-xl-11'},
            12:{0: '100%', 1: 'col-12'},
            13:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:hidden', 1: 'd-none d-sm-block'},
            14:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:visible', 1: 'd-block'}
        }"
    />
    <f:variable
        name="animations"
        value="{
            0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:none', 1: '', 2: 'EXT:das/Resources/Public/Images/Animations/none.svg'},
            1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:animation.u', 1: 'fade-up', 2: 'EXT:das/Resources/Public/Images/Animations/u.svg'},
            2:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:animation.d', 1: 'fade-down', 2: 'EXT:das/Resources/Public/Images/Animations/d.svg'},
            3:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:animation.r', 1: 'fade-right', 2: 'EXT:das/Resources/Public/Images/Animations/r.svg'},
            4:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:animation.l', 1: 'fade-left', 2: 'EXT:das/Resources/Public/Images/Animations/l.svg'}
        }"
    />
    <flux:form
        id="Cols"
        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols"
        description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.description"
    >
        <flux:form.option.group
            value="dasContent"
        />
        <flux:form.option.icon
            value="EXT:das/Resources/Public/Icons/Content/Cols.png"
        />
        <flux:field.select
            name="layout"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default', 1: '0'}
            }"
        />
        <flux:field.select
            name="columns"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.columns"
            items="{
                0:{0: '2', 1: '2'},
                1:{0: '3', 1: '3'},
                2:{0: '4', 1: '4'},
                3:{0: '5', 1: '5'},
                4:{0: '6', 1: '6'}
            }"
            default=""
            requestUpdate="1"
        />
        <flux:field.select
            name="gutter"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.gutter"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default', 1: ''},
                1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:none', 1: '0'},
                2:{0: '1', 1: '1'},
                3:{0: '2', 1: '2'},
                4:{0: '3', 1: '3'},
                5:{0: '4', 1: '4'},
                6:{0: '5', 1: '5'}
            }"
            default=""
        />
        <flux:form.sheet
            name="xs"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.xs"
        >
            <flux:field.select
                name="col1xs"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_1"
                items="{optionsxs}"
            />
            <flux:field.select
                name="col2xs"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_2"
                items="{optionsxs}"
                displayCond="FIELD:options.columns:>:1"
            />
            <flux:field.select
                name="col3xs"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_3"
                items="{optionsxs}"
                displayCond="FIELD:options.columns:>:2"
            />
            <flux:field.select
                name="col4xs"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_4"
                items="{optionsxs}"
                displayCond="FIELD:options.columns:>:3"
            />
            <flux:field.select
                name="col5xs"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_5"
                items="{optionsxs}"
                displayCond="FIELD:options.columns:>:4"
            />
            <flux:field.select
                name="col6xs"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_6"
                items="{optionsxs}"
                displayCond="FIELD:options.columns:>:5"
            />
        </flux:form.sheet>
        <flux:form.sheet
            name="sm"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.sm"
        >
            <flux:field.select
                name="col1sm"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_1"
                items="{optionssm}"
            />
            <flux:field.select
                name="col2sm"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_2"
                items="{optionssm}"
                displayCond="FIELD:options.columns:>:1"
            />
            <flux:field.select
                name="col3sm"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_3"
                items="{optionssm}"
                displayCond="FIELD:options.columns:>:2"
            />
            <flux:field.select
                name="col4sm"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_4"
                items="{optionssm}"
                displayCond="FIELD:options.columns:>:3"
            />
            <flux:field.select
                name="col5sm"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_5"
                items="{optionssm}"
                displayCond="FIELD:options.columns:>:4"
            />
            <flux:field.select
                name="col6sm"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_6"
                items="{optionssm}"
                displayCond="FIELD:options.columns:>:5"
            />
        </flux:form.sheet>
        <flux:form.sheet
            name="md"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.md"
        >
            <flux:field.select
                name="col1md"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_1"
                items="{optionsmd}"
            />
            <flux:field.select
                name="col2md"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_2"
                items="{optionsmd}"
                displayCond="FIELD:options.columns:>:1"
            />
            <flux:field.select
                name="col3md"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_3"
                items="{optionsmd}"
                displayCond="FIELD:options.columns:>:2"
            />
            <flux:field.select
                name="col4md"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_4"
                items="{optionsmd}"
                displayCond="FIELD:options.columns:>:3"
            />
            <flux:field.select
                name="col5md"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_5"
                items="{optionsmd}"
                displayCond="FIELD:options.columns:>:4"
            />
            <flux:field.select
                name="col6md"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_6"
                items="{optionsmd}"
                displayCond="FIELD:options.columns:>:5"
            />
        </flux:form.sheet>
        <flux:form.sheet
            name="lg" 
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.lg"
        >
            <flux:field.select
                name="col1lg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_1"
                items="{optionslg}"
            />
            <flux:field.select
                name="col2lg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_2"
                items="{optionslg}"
                displayCond="FIELD:options.columns:>:1"
            />
            <flux:field.select
                name="col3lg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_3"
                items="{optionslg}"
                displayCond="FIELD:options.columns:>:2"
            />
            <flux:field.select
                name="col4lg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_4"
                items="{optionslg}"
                displayCond="FIELD:options.columns:>:3"
            />
            <flux:field.select
                name="col5lg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_5"
                items="{optionslg}"
                displayCond="FIELD:options.columns:>:4"
            />
            <flux:field.select
                name="col6lg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_6"
                items="{optionslg}"
                displayCond="FIELD:options.columns:>:5"
            />
        </flux:form.sheet>
        <flux:form.sheet
            name="xl"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.xl"
        >
            <flux:field.select
                name="col1xl"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_1"
                items="{optionsxl}"
            />
            <flux:field.select
                name="col2xl"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_2"
                items="{optionsxl}"
                displayCond="FIELD:options.columns:>:1"
            />
            <flux:field.select
                name="col3xl"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_3"
                items="{optionsxl}"
                displayCond="FIELD:options.columns:>:2"
            />
            <flux:field.select
                name="col4xl"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_4"
                items="{optionsxl}"
                displayCond="FIELD:options.columns:>:3"
            />
            <flux:field.select
                name="col5xl"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_5"
                items="{optionsxl}"
                displayCond="FIELD:options.columns:>:4"
            />
            <flux:field.select
                name="col6xl"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_6"
                items="{optionsxl}"
                displayCond="FIELD:options.columns:>:5"
            />
        </flux:form.sheet>
        <flux:form.sheet
            name="classes"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:custom_classes"
        >
            <flux:field.input
                name="col1class"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_1"
            />
            <flux:field.input
                name="col2class"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_2"
                displayCond="FIELD:options.columns:>:1"
            />
            <flux:field.input
                name="col3class"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_3"
                displayCond="FIELD:options.columns:>:2"
            />
            <flux:field.input
                name="col4class"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_4"
                displayCond="FIELD:options.columns:>:3"
            />
            <flux:field.input
                name="col5class"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_5"
                displayCond="FIELD:options.columns:>:4"
            />
            <flux:field.input
                name="col6class"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_6"
                displayCond="FIELD:options.columns:>:5"
            />
        </flux:form.sheet>
        <flux:form.sheet
            name="bg"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:bg"
        >
            <flux:field.input
                name="col1bg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_1"
                size="5"
                config="{renderType: 'colorpicker'}"
            />
            <flux:field.input
                name="col2bg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_2"
                size="5"
                config="{renderType: 'colorpicker'}"
                displayCond="FIELD:options.columns:>:1"
            />
            <flux:field.input
                name="col3bg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_3"
                size="5"
                config="{renderType: 'colorpicker'}"
                displayCond="FIELD:options.columns:>:2"
            />
            <flux:field.input
                name="col4bg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_4"
                size="5"
                config="{renderType: 'colorpicker'}"
                displayCond="FIELD:options.columns:>:3"
            />
            <flux:field.input
                name="col5bg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_5"
                size="5"
                config="{renderType: 'colorpicker'}"
                displayCond="FIELD:options.columns:>:4"
            />
            <flux:field.input
                name="col6bg"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_6"
                size="5"
                config="{renderType: 'colorpicker'}"
                displayCond="FIELD:options.columns:>:5"
            />
        </flux:form.sheet>
        <flux:form.sheet
            name="animation"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:animation"
        >
            <flux:field.select
                name="col1animation"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_1"
                items="{animations}"
                default=""
                showIconTable="1"
            />
            <flux:field.select
                name="col2animation"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_2"
                items="{animations}"
                default=""
                showIconTable="1"
                displayCond="FIELD:options.columns:>:1"
            />
            <flux:field.select
                name="col3animation"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_3"
                items="{animations}"
                default=""
                showIconTable="1"
                displayCond="FIELD:options.columns:>:2"
            />
            <flux:field.select
                name="col4animation"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_4"
                items="{animations}"
                default=""
                showIconTable="1"
                displayCond="FIELD:options.columns:>:3"
            />
            <flux:field.select
                name="col5animation"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_5"
                items="{animations}"
                default=""
                showIconTable="1"
                displayCond="FIELD:options.columns:>:4"
            />
            <flux:field.select
                name="col6animation"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_6"
                items="{animations}"
                default=""
                showIconTable="1"
                displayCond="FIELD:options.columns:>:5"
            />
        </flux:form.sheet>
        <flux:grid>
            <flux:grid.row>
                <flux:grid.column
                    colPos="91"
                    name="ce1"
                    label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_1"
                />
                <flux:grid.column
                    colPos="92"
                    name="ce2"
                    label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_2"
                />
                <f:if condition="{columns} > 2">
                    <flux:grid.column
                        colPos="93"
                        name="ce3"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_3"
                    />
                    <f:if condition="{columns} > 3">
                        <flux:grid.column
                            colPos="94"
                            name="ce4"
                            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_4"
                        />
                        <f:if condition="{columns} > 4">
                            <flux:grid.column
                                colPos="95"
                                name="ce5"
                                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_5"
                            />
                            <f:if condition="{columns} > 5">
                                <flux:grid.column
                                    colPos="96"
                                    name="ce6"
                                    label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.column_6"
                                />
                            </f:if>
                        </f:if>
                    </f:if>
                </f:if>
            </flux:grid.row>
        </flux:grid>
    </flux:form>
</f:section>

<f:section name="Preview">
    <table class="table table-condensed table-hover">
        <tbody>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout" />
                </th>
                <td width="20%">
                    <f:if condition="{layout} == 0">
                        <f:then>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default" />
                        </f:then>
                        <f:else>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:custom" />
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.cols.gutter" />
                </th>
                <td width="20%">
                    <f:if condition="{gutter} >= 1">
                        <f:then>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default" />
                        </f:then>
                        <f:else>
                            <f:if condition="{gutter} == 0">
                                <f:then>
                                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:none" />
                                </f:then>
                                <f:else>
                                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default" />
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </td>
            </tr>
        </tbody>
    </table>
</f:section>

<f:section name="Main">
    <f:render partial="Content/Main/Cols" arguments="{_all}" />
</f:section>
