<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form
        id="Countdown"
        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.countdown"
        description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.countdown.description"
    >
        <flux:form.option.group
            value="dasContent"
        />
        <flux:form.option.icon
            value="EXT:das/Resources/Public/Icons/Content/Countdown.png"
        />
        <flux:field.select
            name="layout"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default', 1: '0'}
            }"
            requestUpdate="1"
        />
        <flux:field.input
            name="date_and_time"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.countdown.date_and_time"
            config="{renderType: 'datetime'}"
            size="13"
            required="1"
        />
    </flux:form>
</f:section>

<f:section name="Preview">
    <table class="table table-condensed table-hover">
        <tbody>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout" />
                </th>
                <td width="20%">
                    <f:if condition="{layout} == 0">
                        <f:then>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default" />
                        </f:then>
                        <f:else>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:custom" />
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.countdown.date_and_time" />
                </th>
                <td>
                    <f:format.date format="{f:translate(key: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:format_datetime')}">{date_and_time}</f:format.date>
                </td>
            </tr>
        </tbody>
    </table>
</f:section>

<f:section name="Main">
    <f:render partial="Content/Main/Countdown" arguments="{_all}" />
</f:section>
