<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form
        id="Counter"
        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter"
        description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.description"
    >
        <flux:form.option.group
            value="dasContent"
        />
        <flux:form.option.icon
            value="EXT:das/Resources/Public/Icons/Content/Counter.png"
        />
        <flux:field.select
            name="layout"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default', 1: '0'}
            }"
            requestUpdate="1"
        />
        <flux:field.input
            name="number_from"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.number_from"
            size="3"
            required="1"
        />
        <flux:field.input
            name="number_to"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.number_to"
            size="3"
            required="1"
        />
        <flux:field.input
            name="prepend_text"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.prepend_text"
            size="6"
        />
        <flux:field.input
            name="append_text"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.append_text"
            size="6"
        />
        <flux:field.select
            name="speed"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.speed"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.speed.1', 1: '1'},
                1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.speed.10', 1: '10'},
                2:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.speed.25', 1: '25'},
                3:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.speed.50', 1: '50'}
            }"
            default="10"
        />
        <flux:field.input
            name="caption"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.caption"
        />
        <flux:field.select
            name="counter_color"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.counter_color"
            items="{
                0:{0: '', 1: '', 2: 'EXT:das/Resources/Public/Images/Colors/bg_.svg'},
                1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.primary', 1: 'primary', 2: 'EXT:das/Resources/Public/Images/Colors/bg_primary.svg'},
                2:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.secondary', 1: 'secondary', 2: 'EXT:das/Resources/Public/Images/Colors/bg_secondary.svg'},
                3:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.success', 1: 'success', 2: 'EXT:das/Resources/Public/Images/Colors/bg_success.svg'},
                4:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.danger', 1: 'danger', 2: 'EXT:das/Resources/Public/Images/Colors/bg_danger.svg'},
                5:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.warning', 1: 'warning', 2: 'EXT:das/Resources/Public/Images/Colors/bg_warning.svg'},
                6:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.info', 1: 'info', 2: 'EXT:das/Resources/Public/Images/Colors/bg_info.svg'},
                7:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.light', 1: 'light', 2: 'EXT:das/Resources/Public/Images/Colors/bg_light.svg'},
                8:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.dark', 1: 'dark', 2: 'EXT:das/Resources/Public/Images/Colors/bg_dark.svg'}
            }"
            showIconTable="1"
        />
        <flux:field.checkbox
            name="animate"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.animate"
            config="{renderType: 'checkboxToggle'}"
        />
    </flux:form>
</f:section>

<f:section name="Preview">
    <table class="table table-condensed table-hover">
        <tbody>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout" />
                </th>
                <td width="20%">
                    <f:if condition="{layout} == 0">
                        <f:then>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default" />
                        </f:then>
                        <f:else>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:custom" />
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.number_from" />
                </th>
                <td>
                    {number_from}
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.number_to" />
                </th>
                <td>
                    {number_to}
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.prepend_text" />
                </th>
                <td>
                    {prepend_text}
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.append_text" />
                </th>
                <td>
                    {append_text}
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.speed" />
                </th>
                <td>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.speed.{speed}" />
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.caption" />
                </th>
                <td>
                    {caption}
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.counter_color" />
                </th>
                <td>
                    <f:if condition="{counter_color}">
                        <f:image src="EXT:das/Resources/Public/Images/Colors/bg_{counter_color}.svg" width="20" height="20" alt="{f:translate(key: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.{counter_color}')}" class="d-inline-block me-1 mb-1" />
                    </f:if>
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.counter.animate" />
                </th>
                <td>
                    <f:render partial="Content/Check" arguments="{condition: animate}" />
                </td>
            </tr>
        </tbody>
    </table>
</f:section>

<f:section name="Main">
    <f:render partial="Content/Main/Counter" arguments="{_all}" />
</f:section>
