<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form
        id="Map"
        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map"
        description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.description"
    >
        <flux:form.option.group
            value="dasContent"
        />
        <flux:form.option.icon
            value="EXT:das/Resources/Public/Icons/Content/Map.png"
        />
        <flux:field.select
            name="layout"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default', 1: '0'}
            }"
            requestUpdate="1"
        />
        <flux:field.select
            name="mapprovider"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.provider"
            items="{
                0:{0: 'Google Maps', 1: 'googlemaps', 2: 'EXT:das/Resources/Public/Images/Map/googlemaps.png'},
                1:{0: 'OpenStreetMap', 1: 'openstreetmap', 2: 'EXT:das/Resources/Public/Images/Map/openstreetmap.png'}
            }"
            showIconTable="1"
            default="googlemaps"
        />
        <flux:field.input
            name="latitude"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.latitude"
            required="1"
        />
        <flux:field.input
            name="longitude"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.longitude"
            required="1"
        />
        <flux:field.select
            name="ratio"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.ratio"
            items="{
                0:{0: '21:9', 1: '21x9'},
                1:{0: '16:9', 1: '16x9'},
                2:{0: '4:3', 1: '4x3'},
                3:{0: '1:1', 1: '1x1'}
            }"
            default="16x9"
        />
        <flux:field.input
            name="zoom"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.zoom"
            size="2"
            default="15"
            config="{eval: 'int', range: {lower: 0, upper: 22}, slider: {step: 1, width: 200}}"
        />
        <flux:field.select
            name="default_color"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.default_color"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.default_color.default', 1: 'pin', 2: 'EXT:das/Resources/Public/Images/Colors/bg_pin.svg'},
                1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.primary', 1: 'primary', 2: 'EXT:das/Resources/Public/Images/Colors/bg_primary.svg'},
                2:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.secondary', 1: 'secondary', 2: 'EXT:das/Resources/Public/Images/Colors/bg_secondary.svg'},
                3:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.success', 1: 'success', 2: 'EXT:das/Resources/Public/Images/Colors/bg_success.svg'},
                4:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.danger', 1: 'danger', 2: 'EXT:das/Resources/Public/Images/Colors/bg_danger.svg'},
                5:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.warning', 1: 'warning', 2: 'EXT:das/Resources/Public/Images/Colors/bg_warning.svg'},
                6:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.info', 1: 'info', 2: 'EXT:das/Resources/Public/Images/Colors/bg_info.svg'},
                7:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.light', 1: 'light', 2: 'EXT:das/Resources/Public/Images/Colors/bg_light.svg'},
                8:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.dark', 1: 'dark', 2: 'EXT:das/Resources/Public/Images/Colors/bg_dark.svg'}
            }"
            default=""
            showIconTable="1"
        />
        <flux:field.input
            name="autoclose"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.autoclose"
            description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.autoclose.description"
            size="2"
            default="0"
            config="{eval: 'int', range: {lower: 0, upper: 15}, slider: {step: 1, width: 200}}"
        />
        <flux:form.sheet
            name="itemstab"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.pins"
        >
            <flux:form.section
                name="items"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.pins"
            >
                <flux:form.object
                    name="item"
                    label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.pin"
                >
                    <flux:field.checkbox
                        name="active"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:active"
                        default="1"
                        config="{renderType: 'checkboxToggle'}"
                    />
                    <flux:field.input
                        name="name"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.name"
                        required="1"
                    />
                    <flux:field.input
                        name="latitude"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.latitude"
                        required="1"
                    />
                    <flux:field.input
                        name="longitude"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.longitude"
                        required="1"
                    />
                    <flux:field.text
                        name="text"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.text"
                        rows="5"
                    />
                    <flux:field.select
                        name="pin_color"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.default_color"
                        description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.default_color.description"
                        items="{
                            0:{0: '', 1: '', 2: 'EXT:das/Resources/Public/Images/Colors/bg_.svg'},
                            1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.primary', 1: 'primary', 2: 'EXT:das/Resources/Public/Images/Colors/bg_primary.svg'},
                            2:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.secondary', 1: 'secondary', 2: 'EXT:das/Resources/Public/Images/Colors/bg_secondary.svg'},
                            3:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.success', 1: 'success', 2: 'EXT:das/Resources/Public/Images/Colors/bg_success.svg'},
                            4:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.danger', 1: 'danger', 2: 'EXT:das/Resources/Public/Images/Colors/bg_danger.svg'},
                            5:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.warning', 1: 'warning', 2: 'EXT:das/Resources/Public/Images/Colors/bg_warning.svg'},
                            6:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.info', 1: 'info', 2: 'EXT:das/Resources/Public/Images/Colors/bg_info.svg'},
                            7:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.light', 1: 'light', 2: 'EXT:das/Resources/Public/Images/Colors/bg_light.svg'},
                            8:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.dark', 1: 'dark', 2: 'EXT:das/Resources/Public/Images/Colors/bg_dark.svg'}
                        }"
                        default=""
                        showIconTable="1"
                    />
                </flux:form.object>
            </flux:form.section>
        </flux:form.sheet>
    </flux:form>
</f:section>

<f:section name="Preview">
    <table class="table table-condensed table-hover">
        <tbody>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout" />
                </th>
                <td width="20%">
                    <f:if condition="{layout} == 0">
                        <f:then>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default" />
                        </f:then>
                        <f:else>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:custom" />
                        </f:else>
                    </f:if>
                </td>
            </tr>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.provider" />
                    </th>
                    <td>
                        <f:image src="EXT:das/Resources/Public/Images/Map/{mapprovider}.png" width="16" height="16" alt="{mapprovider}" class="d-inline-block me-1 mb-1" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.latitude" />
                    </th>
                    <td>
                        {latitude}
                    </td>
                </tr>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.longitude" />
                    </th>
                    <td>
                        {longitude}
                    </td>
                </tr>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.ratio" />
                    </th>
                    <td>
                        {ratio}
                    </td>
                </tr>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.default_color" />
                    </th>
                    <td>
                        <f:image src="EXT:das/Resources/Public/Images/Colors/bg_{default_color}.svg" width="20" height="20" alt="{f:if(condition: '{default_color} == \'pin\'', then: '{f:translate(key: \'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.default_color.default\')}', else: '{f:translate(key: \'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.{default_color}\')}')}" class="d-inline-block me-1 mb-1" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.zoom" />
                    </th>
                    <td>
                        {zoom}
                    </td>
                </tr>
                <tr>
                    <th>
                        <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.autoclose" />
                    </th>
                    <td>
                        {autoclose}
                    </td>
                </tr>
            <tr>
                <td colspan="2">
                    <strong><f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.map.pins" /></strong>
                    <ul class="mt-2">
                        <f:for each="{items}" as="item">
                            <li{f:if(condition: '!{item.item.active}', then: ' class="text-muted"')}>
                               <f:image src="EXT:das/Resources/Public/Images/Colors/bg_{f:if(condition: '{item.item.pin_color}', then: '{item.item.pin_color}', else: '{default_color}')}.svg" width="20" height="20" alt="{f:translate(key: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:{f:if(condition: \'{item.item.color}\', then: \'colors.{item.item.color}\', else: \'default\')}')}" class="d-inline-block me-1 mb-1" />
                               {item.item.name}
                            </li>
                        </f:for>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</f:section>

<f:section name="Main">
    <f:render partial="Content/Main/Map" arguments="{_all}" />
</f:section>
