<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form
        id="SharePage"
        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.sharepage"
        description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.sharepage.description"
    >
        <flux:form.option.group
            value="dasContent"
        />
        <flux:form.option.icon
            value="EXT:das/Resources/Public/Icons/Content/SharePage.png"
        />
        <flux:field.select
            name="layout"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default', 1: '0'}
            }"
            requestUpdate="1"
        />
        <flux:field.select
            name="size"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:size"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:small', 1: 'sm'},
                1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:medium', 1: ''},
                2:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:large', 1: 'lg'}
            }"
        />
        <flux:field.checkbox
            name="rounded"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.sharepage.rounded"
            config="{renderType: 'checkboxToggle'}"
        />
        <flux:field.select
            name="alignment"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:alignment"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:text-left', 1: 'text-left'},
                1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:text-center', 1: 'text-center'},
                2:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:text-end', 1: 'text-end'}
            }"
            default="text-left"
        />
        <flux:field.select
            name="platforms"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.sharepage.platforms"
            items="{
                0:{0: 'Facebook', 1: 'Facebook', 2: 'EXT:das/Resources/Public/Images/Social/Facebook.png'},
                1:{0: 'Instagram', 1: 'Instagram', 2: 'EXT:das/Resources/Public/Images/Social/Instagram.png'},
                2:{0: 'LinkedIn', 1: 'LinkedIn', 2: 'EXT:das/Resources/Public/Images/Social/LinkedIn.png'},
                3:{0: 'Reddit', 1: 'Reddit', 2: 'EXT:das/Resources/Public/Images/Social/Reddit.png'},
                4:{0: 'Tumblr', 1: 'Tumblr', 2: 'EXT:das/Resources/Public/Images/Social/Tumblr.png'},
                5:{0: 'X/Twitter', 1: 'Twitter', 2: 'EXT:das/Resources/Public/Images/Social/Twitter.png'},
                6:{0: 'WhatsApp', 1: 'WhatsApp', 2: 'EXT:das/Resources/Public/Images/Social/WhatsApp.png'},
                7:{0: 'Xing', 1: 'Xing', 2: 'EXT:das/Resources/Public/Images/Social/Xing.png'}
            }"
            renderType="selectMultipleSideBySide"
            minItems="1"
            maxItems="99"
            size="4"
        />
    </flux:form>
</f:section>

<f:section name="Preview">
    <table class="table table-condensed table-hover">
        <tbody>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout" />
                </th>
                <td width="20%">
                    <f:if condition="{layout} == 0">
                        <f:then>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default" />
                        </f:then>
                        <f:else>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:custom" />
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:size" />
                </th>
                <td>
                    <f:switch expression="{size}">
                        <f:case value="sm">
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:small" />
                        </f:case>
                        <f:case value="dlgas_modal">
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:large" />
                        </f:case>
                        <f:defaultCase>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:medium" />
                        </f:defaultCase>
                    </f:switch>
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.sharepage.rounded" />
                </th>
                <td>
                    <f:render partial="Content/Check" arguments="{condition: rounded}" />
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:alignment" />
                </th>
                <td>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:{alignment}" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong><f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.sharepage.platforms" /></strong>
                    <f:variable name="platforms" value="{v:iterator.explode(content: '{platforms}', glue: ',')}" />
                    <div class="{alignment}">
                        <f:for each="{platforms}" as="platform">
                            <f:image src="EXT:das/Resources/Public/Images/Social/{platform}.png" alt="{platform}" title="{platform}" class="me-1 mb-1{f:if(condition: '{rounded}', then: ' rounded-circle')}" />
                        </f:for>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</f:section>

<f:section name="Main">
    <f:render partial="Content/Main/SharePage" arguments="{_all}" />
</f:section>
