<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form
        id="Timeline"
        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline"
        description="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline.description"
    >
        <flux:form.option.group
            value="dasContent"
        />
        <flux:form.option.icon
            value="EXT:das/Resources/Public/Icons/Content/Timeline.png"
        />
        <flux:field.select
            name="layout"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default', 1: '0'}
            }"
            requestUpdate="1"
        />
        <flux:field.select
            name="default_color"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default_color"
            items="{
                0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.primary', 1: 'primary', 2: 'EXT:das/Resources/Public/Images/Colors/bg_primary.svg'},
                1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.secondary', 1: 'secondary', 2: 'EXT:das/Resources/Public/Images/Colors/bg_secondary.svg'},
                2:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.success', 1: 'success', 2: 'EXT:das/Resources/Public/Images/Colors/bg_success.svg'},
                3:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.danger', 1: 'danger', 2: 'EXT:das/Resources/Public/Images/Colors/bg_danger.svg'},
                4:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.warning', 1: 'warning', 2: 'EXT:das/Resources/Public/Images/Colors/bg_warning.svg'},
                5:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.info', 1: 'info', 2: 'EXT:das/Resources/Public/Images/Colors/bg_info.svg'},
                6:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.light', 1: 'light', 2: 'EXT:das/Resources/Public/Images/Colors/bg_light.svg'},
                7:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.dark', 1: 'dark', 2: 'EXT:das/Resources/Public/Images/Colors/bg_dark.svg'}
            }"
            default=""
            showIconTable="1"
        />
        <flux:field.checkbox
            name="animate"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:animate_entries"
            config="{renderType: 'checkboxToggle'}"
        />
        <flux:form.sheet
            name="itemstab"
            label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline.entries"
        >
            <flux:form.section
                name="items"
                label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline.entries"
            >
                <flux:form.object
                    name="item"
                    label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline.entry"
                >
                    <f:render partial="Content/Access" arguments="{_all}" />
                    <flux:field.input
                        name="icon"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline.icon"
                        size="5"
                    />
                    <flux:field.select
                        name="icon_color"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline.icon_color"
                        items="{
                            0:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default', 1: '', 2: 'EXT:das/Resources/Public/Images/Colors/bg_.svg'},
                            1:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.primary', 1: 'primary', 2: 'EXT:das/Resources/Public/Images/Colors/bg_primary.svg'},
                            2:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.secondary', 1: 'secondary', 2: 'EXT:das/Resources/Public/Images/Colors/bg_secondary.svg'},
                            3:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.success', 1: 'success', 2: 'EXT:das/Resources/Public/Images/Colors/bg_success.svg'},
                            4:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.danger', 1: 'danger', 2: 'EXT:das/Resources/Public/Images/Colors/bg_danger.svg'},
                            5:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.warning', 1: 'warning', 2: 'EXT:das/Resources/Public/Images/Colors/bg_warning.svg'},
                            6:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.info', 1: 'info', 2: 'EXT:das/Resources/Public/Images/Colors/bg_info.svg'},
                            7:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.light', 1: 'light', 2: 'EXT:das/Resources/Public/Images/Colors/bg_light.svg'},
                            8:{0: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.dark', 1: 'dark', 2: 'EXT:das/Resources/Public/Images/Colors/bg_dark.svg'}
                        }"
                        showIconTable="1"
                    />
                    <flux:field.input
                        name="title"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline.title"
                        required="1"
                    />
                    <flux:field.input
                        name="subtitle"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline.subtitle"
                    />
                    <flux:field.text
                        name="text"
                        label="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline.text"
                        rows="2"
                        enableRichText="1"
                    />
                </flux:form.object>
            </flux:form.section>
        </flux:form.sheet>
    </flux:form>
</f:section>

<f:section name="Preview">
    <table class="table table-condensed table-hover">
        <tbody>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:layout" />
                </th>
                <td width="20%">
                    <f:if condition="{layout} == 0">
                        <f:then>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default" />
                        </f:then>
                        <f:else>
                            <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:custom" />
                        </f:else>
                    </f:if>
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:default_color" />
                </th>
                <td>
                    <f:image src="EXT:das/Resources/Public/Images/Colors/bg_{default_color}.svg" width="20" height="20" alt="{f:translate(key: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:colors.{default_color}')}" class="d-inline-block me-1 mb-1" />
                </td>
            </tr>
            <tr>
                <th>
                    <f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:animate_entries" />
                </th>
                <td>
                    <f:render partial="Content/Check" arguments="{condition: animate}" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <strong><f:translate key="LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:tt_content.timeline.entries" /></strong>
                    <ul class="mt-2">
                        <f:for each="{items}" as="item">
                            <li{f:if(condition: '!{item.item.active}', then: ' class="text-muted"')}>
                                <f:image src="EXT:das/Resources/Public/Images/Colors/bg_{f:if(condition: '{item.item.icon_color}', then: '{item.item.icon_color}', else: '{default_color}')}.svg" width="20" height="20" alt="{f:translate(key: 'LLL:EXT:das/Resources/Private/Language/locallang_be.xlf:{f:if(condition: \'{item.item.icon_color}\', then: \'colors.{item.item.icon_color}\', else: \'default\')}')}" class="rounded-circle d-inline-block me-1 mb-1" /><strong>{item.item.title}</strong> {item.item.subtitle}
                            </li>
                        </f:for>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</f:section>

<f:section name="Main">
    <f:render partial="Content/Main/Timeline" arguments="{_all}" />
</f:section>
