<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:if condition="{element.properties.elementDescription}">
            <f:variable name="aria" value="{describedby: '{element.uniqueIdentifier}-desc'}" />
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: '{element.uniqueIdentifier}-errors'}" />
        </f:if>
        <p class="form-floating">
            <div class="{element.properties.containerClassAttribute}">
                <f:form.password
                    property="{element.identifier}.password"
                    id="{element.uniqueIdentifier}"
                    class="form-control {element.properties.elementClassAttribute}{f:if(condition: '{validationResults.errors}', then: ' {element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}')}"
                    additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                    aria="{aria}"
                />
                <label for="{element.uniqueIdentifier}">{element.label}{f:if(condition: element.required, then: '*')}</label>
                <f:if condition="{formvh:translateElementProperty(element: element, property: 'passwordDescription')}">
                    <span class="{element.rootForm.renderingOptions.fieldProperties.descriptionClassAttribute}">{formvh:translateElementProperty(element: element, property: 'passwordDescription')}</span>
                </f:if>
            </div>
            <div class="{element.properties.containerClassAttribute}{f:if(condition: '{validationResults.errors}', then: ' {element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}')}">
                <f:form.password
                    property="{element.identifier}.confirmation"
                    id="{element.uniqueIdentifier}-confirmation"
                    class="form-control {element.properties.elementClassAttribute}{f:if(condition: '{validationResults.errors}', then: ' {element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}')}"
                    additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                    aria="{aria}"
                />
                <label for="{element.uniqueIdentifier}">{formvh:translateElementProperty(element: element, property: 'confirmationLabel')}{f:if(condition: element.required, then: '*')}</label>
            </div>
            <f:if condition="{validationResults.errors} && {element.properties.renderFieldset} == '1'">
                <span id="{element.uniqueIdentifier}-errors" class="{element.rootForm.renderingOptions.fieldProperties.errorMsgClassAttribute}" role="alert">
                    <f:for each="{validationResults.errors}" as="error">
                        <f:format.htmlspecialchars>{formvh:translateElementError(element: element, error: error)}</f:format.htmlspecialchars>
                        <br />
                    </f:for>
                </span>
            </f:if>
        </p>
    </f:form.validationResults>
</formvh:renderRenderable>
</html>
